{% extends 'stuManage/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
    <!--<div class="container">
        <div class="row row-cols-2">
            <div class="col">姓名:</div>
            <div class="col">{{ form.name }}</div>
            <div class="col">姓名:</div>
            <div class="col">{{ form.name }}</div>
        </div>
    </div>-->
    <div class="container">
        <div class="row-cols-auto"><h1 class="text-center"><span class="badge bg-primary">学生信息更新</span></h1></div>
        <form method="post">{% csrf_token %}


            <div class="row2 justify-content-md-center">
                <ul class="list-group ">
                    <li class="list-group-item bg-info">基本信息</li>

                    <li class="list-group-item">姓名：{{ form.name }}</li>
                    <li class="list-group-item">民族：{{ form.minzu }}</li>
                    <li class="list-group-item">出生日期：{{ form.birth_date }}</li>
                    <li class="list-group-item">年龄：{{ form.age }}</li>
                    <li class="list-group-item">电话：{{ form.tel }}</li>
                    <li class="list-group-item">地址：{{ form.adress }}</li>

                </ul>
            </div>
            <div class="row2">
                <ul class="list-group">
                    <li class="list-group-item bg-info">宗教信息</li>
                    <li class="list-group-item">法名：{{ form.dhamma_name }}</li>
                    <li class="list-group-item">教职身份：{{ form.title2 }}</li>
                    <li class="list-group-item">教职人员编号：{{ form.teacher_id }}</li>
                    <li class="list-group-item">出家年月：{{ form.monk_date }}</li>
                    <li class="list-group-item">出家寺院：{{ form.monk_temple }}</li>
                    <li class="list-group-item">戒师：{{ form.sila_teacher }}</li>
                </ul>
            </div>
            <div class="row2">
                <ul class="list-group">
                    <li class="list-group-item bg-info">学籍信息</li>
                    <li class="list-group-item">年级：{{ form.grade }}</li>
                    <li class="list-group-item">学号（国民教育）：{{ form.base_id }}</li>
                    <li class="list-group-item">学号（宗教教育）：{{ form.religion_id }}</li>
                    <li class="list-group-item">学历层次：{{ form.study_level }}</li>
                    <li class="list-group-item">学生类别 ：{{ form.student_type }}</li>
                    <li class="list-group-item">学制：{{ form.school_lenth }}</li>
                    <li class="list-group-item">入学日期：{{ form.enrol_date }}</li>
                    <li class="list-group-item">是否参加中考：{{ form.middle_exam }}</li>
                    <li class="list-group-item">毕业学校：{{ form.graduate_school }}</li>

                </ul>

            </div>

            <div class="row2">
                <ul class="list-group">
                    <li class="list-group-item bg-info">家庭成员1
                        <button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button>
                    </li>

                    <li class="list-group-item">关系：{{ form.relationship1 }}</li>
                    <li class="list-group-item">姓名：{{ form.fml_name1 }}</li>
                    <li class="list-group-item">民族：{{ form.minzhu1 }}</li>
                    <li class="list-group-item">工作情况：{{ form.job_info1 }}</li>
                    <li class="list-group-item">电话 ：{{ form.fml_tel1 }}</li>

                </ul>

            </div>

                <div class="row2 ">
                    <ul class="list-group">
                        <li class="list-group-item bg-info">家庭成员2
                            <button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button>
                        </li>

                        <li class="list-group-item">关系：{{ form.relationship2 }}</li>
                        <li class="list-group-item">姓名：{{ form.fml_name2 }}</li>
                        <li class="list-group-item">民族：{{ form.minzhu2 }}</li>
                        <li class="list-group-item">工作情况：{{ form.job_info2 }}</li>
                        <li class="list-group-item">电话 ：{{ form.fml_tel2 }}</li>

                    </ul>
                </div>


            <div class="row2 ">
                <ul class="list-group">
                    <li class="list-group-item bg-info">家庭成员3
                        <button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button>
                    </li>

                    <li class="list-group-item">关系：{{ form.relationship3 }}</li>
                    <li class="list-group-item">姓名：{{ form.fml_name3 }}</li>
                    <li class="list-group-item">民族：{{ form.minzhu3 }}</li>
                    <li class="list-group-item">工作情况：{{ form.job_info3 }}</li>
                    <li class="list-group-item">电话 ：{{ form.fml_tel3 }}</li>

                </ul>

            </div>
            <div class="row2 ">
                <ul class="list-group">
                    <li class="list-group-item bg-info">家庭成员4
                        <button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button>
                    </li>

                    <li class="list-group-item">关系：{{ form.relationship4 }}</li>
                    <li class="list-group-item">姓名：{{ form.fml_name4 }}</li>
                    <li class="list-group-item">民族：{{ form.minzhu4 }}</li>
                    <li class="list-group-item">工作情况：{{ form.job_info4 }}</li>
                    <li class="list-group-item">电话 ：{{ form.fml_tel4 }}</li>

                </ul>

            </div>
            <div class="row2 d-none">
                <ul class="list-group">
                    <li class="list-group-item bg-info">家庭成员5
                        <button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button>
                    </li>

                    <li class="list-group-item">关系：{{ form.relationship5 }}</li>
                    <li class="list-group-item">姓名：{{ form.fml_name5 }}</li>
                    <li class="list-group-item">民族：{{ form.minzhu5 }}</li>
                    <li class="list-group-item">工作情况：{{ form.job_info5 }}</li>
                    <li class="list-group-item">电话 ：{{ form.fml_tel5 }}</li>

                </ul>

            </div>
            <div id="new_ul1">

            </div>

            <div id="new_ul2">

            </div>
            <div id="new_ul3">

            </div>
            <div id="new_ul4">

            </div>


            <div class="row"><input class="btn btn-success" type="submit" value="更新"></div>


        </form>
    </div>


    <script>

        a = 1;

        function addNewMb() {
            var html_;
            var html2 = '<ul class="list-group">\
            <li class="list-group-item bg-info">家庭成员2<button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button></li>\
            <li class="list-group-item">关系：{{ form.relationship2 }}</li>\
                    <li class="list-group-item">姓名：{{ form.fml_name2 }}</li>\
                    <li class="list-group-item">民族：{{ form.minzhu2 }}</li>\
                    <li class="list-group-item">工作情况：{{ form.job_info2 }}</li>\
                    <li class="list-group-item">电话 ：{{ form.fml_tel2 }}</li>\
                </ul>'
            var html3 = '<ul class="list-group">\
            <li class="list-group-item bg-info">家庭成员3<button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button></li>\
            <li class="list-group-item">关系：{{ form.relationship3 }}</li>\
                    <li class="list-group-item">姓名：{{ form.fml_name3 }}</li>\
                    <li class="list-group-item">民族：{{ form.minzhu3 }}</li>\
                    <li class="list-group-item">工作情况：{{ form.job_info3 }}</li>\
                    <li class="list-group-item">电话 ：{{ form.fml_tel3 }}</li>\
                </ul>'
            var html4 = '<ul class="list-group">\
            <li class="list-group-item bg-info">家庭成员4<button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button></li>\
            <li class="list-group-item">关系：{{ form.relationship4 }}</li>\
                    <li class="list-group-item">姓名：{{ form.fml_name4 }}</li>\
                    <li class="list-group-item">民族：{{ form.minzhu4 }}</li>\
                    <li class="list-group-item">工作情况：{{ form.job_info4 }}</li>\
                    <li class="list-group-item">电话 ：{{ form.fml_tel4 }}</li>\
                </ul>'
            var html5 = '<ul class="list-group">\
            <li class="list-group-item bg-info">家庭成员5<button type="button" class="btn btn-primary float-end" onclick="addNewMb()">+</button></li>\
            <li class="list-group-item">关系：{{ form.relationship5 }}</li>\
                    <li class="list-group-item">姓名：{{ form.fml_name5 }}</li>\
                    <li class="list-group-item">民族：{{ form.minzhu5 }}</li>\
                    <li class="list-group-item">工作情况：{{ form.job_info5 }}</li>\
                    <li class="list-group-item">电话 ：{{ form.fml_tel5 }}</li>\
                </ul>'
            switch (a) {
                case 1:
                    html_ = html2;
                    break;
                case 2:
                    html_ = html3;
                    break;
                case 3:
                    html_ = html4;
                    break;
                case 4:
                    html_ = html5;
                    break;
            }

            document.getElementById('new_ul' + a).innerHTML = html_;
            a++;

        }
    </script>
{% endblock %}